/* Navbar */
.navbar {
    display: flex; justify-content: space-between; align-items: center;
    padding: 20px 10%; background: var(--white);
    position: fixed; width: 100%; top: 0; transition: 0.4s; z-index: 1000;
}
.navbar.sticky { padding: 10px 10%; box-shadow: 0 5px 20px rgba(0,0,0,0.1); }
.nav-links { display: flex; list-style: none; }
.nav-links li { margin-left: 30px; }
.nav-links a { text-decoration: none; color: var(--primary); font-weight: 600; }